<div class="container-fluid w-50 p-3">
<h2 class="text-center">Login</h2>
<form class="login-form">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input type="email" class="form-control" id="email" aria-describedby="emailHelp">
    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
  </div>
  <div class="mb-3 h-100">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" class="form-control" id="password">
  </div>
  <div class="mb-3 form-check">
     <a href="/signup">Sign up insted</a>
  </div>
  <button type="submit" class="btn btn-success">Login</button>
</form>
</div>
  {{#if logged_in}}
<h1>log in</h1>
  {{/if}}
      
    <script src="/js/login.js"></script>